.option {
    width: 400px;
    height: 100vh;
}

.machine {
    width:   100vh;
    height: 100vh;
    background-color:rgb(32, 20, 2);
}

.r-installed {
    width: 100px;
    height: 100px;
    color:white;
    font: bold 32px "Times New Roman";
    background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url("../img/wheel.svg") no-repeat center;
    background-size: 50px;
}

.window>select {
    font-size: x-large;
    background-color: whitesmoke;
    font-weight: bold;
    font-family: monospace;
}

.plugboard {
    max-height: 400px;
}

.debug-panel {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    width: 800px;
    min-height: 85px;
    padding: 0px;

    background-color: bisque
}

#cypertext-container{
    display: table-cell;
    border-bottom: 2px solid black;
}

.lamp {
    text-align: center;
    font-size: xx-large;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color:gold;
}

#plug-enter{
    color: blue;
}
#plug-exit{
    color: green;
}

.node {
    min-height: 44px;
    min-width: 84px;
    background-color: whitesmoke;
    margin: 0 10px 10px 10px;
}